<div class="core-card toolbar" fxFlex>
  <div class="center px-8" fxLayout="row" fxLayoutAlign="start center">
    <div fxFlex="0 1 auto" fxLayout="row" fxLayoutAlign="start center">
      <button disableRipple mat-icon-button fxHide.gt-md
              (click)="toggleSidebarOpen('home-sidebar')">
        <mat-icon class="secondary-text">menu</mat-icon>
      </button>

      <div fxFlex fxLayout="row" fxLayoutAlign="start center" fxHide.lt-md>
        <div class="search" fxFlex fxLayout="row" fxLayoutAlign="start center">
          <mat-icon class="s-16 secondary-text">search</mat-icon>
          <input type="text" placeholder="Pesquisa" fxFlex>
        </div>
      </div>

      <button disableRipple mat-icon-button fxHide.gt-sm>
        <mat-icon class="secondary-text">search</mat-icon>
      </button>
    </div>

    <div fxFlex="1 1 auto" fxLayout="row" fxLayoutAlign="center center">
      <h1 class="m-8 primary-500-fg font-size-32 font-weight-700" fxHide.lt-md>TESTE_LOGO</h1>
      <h1 class="m-8 primary-500-fg font-size-32 font-weight-700" fxHide.gt-sm>T_L</h1>
    </div>

    <div fxFlex="0 1 auto" fxLayout="row" fxLayoutAlign="start center">
      <button disableRipple mat-icon-button class="menu-button mr-8" aria-label="Acessar o seu perfil">
        <img class="avatar" [src]="user.avatar">
      </button>

      <button disableRipple mat-icon-button class="menu-button" aria-label="Ir para Home" fxHide.lt-sm>
        <mat-icon fontSet="material-icons-outlined" class="secondary-text">home</mat-icon>
      </button>

      <button disableRipple mat-icon-button class="menu-button" aria-label="Exibir grupos" fxHide.lt-sm>
        <mat-icon fontSet="material-icons-outlined" class="secondary-text">group</mat-icon>
      </button>

      <button disableRipple mat-icon-button class="menu-button" aria-label="Exibir notificações" fxHide.lt-sm>
        <mat-icon fontSet="material-icons-outlined" class="secondary-text">notifications</mat-icon>
      </button>

      <button disableRipple mat-icon-button class="menu-button" aria-label="Acessar ajuda" fxHide.lt-sm>
        <mat-icon class="secondary-text">help</mat-icon>
      </button>

      <button disableRipple mat-icon-button class="menu-button" aria-label="Acessar ajuda" fxHide.gt-xs>
        <mat-icon class="secondary-text">more_vert</mat-icon>
      </button>
    </div>
  </div>
</div>
