:host {
  position: relative;
  display: flex;
  flex: 0 0 auto;
  z-index: 4;
  .toolbar{
    border-radius: 0;
  }
  .search {
    height: 36px;
    line-height: 36px;
    padding: 8px;
    border-radius: 8px;
    overflow: hidden;
    background: rgb(227, 227, 227);

    input {
      padding: 0 12px 0 8px;
      height: 36px;
      border: none;
      background: rgb(227, 227, 227);
    }
  }
}
