 <div class="page-layout simple left-sidebar">

    <div class="header p-24" fxLayout="row" fxLayoutAlign="start center">

      <button mat-icon-button class="sidebar-toggle mr-8" fxHide.gt-md
              (click)="toggleSidebar('home-sidebar')">
        <mat-icon>menu</mat-icon>
      </button>

      <div>
        <h2>User Feed</h2>
      </div>

    </div>

    <div class="content">

      <core-sidebar class="sidebar" name="home-sidebar" position="left" lockedOpen="gt-md" fxFlex.gt-md="25">
        <div class="content p-24">

        </div>
      </core-sidebar>
      <div class="center">

      </div>
    </div>
  </div>
