$header-height: 48px !default;

.page-layout {
  position: relative;
  overflow: hidden;

  &.simple {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    height: 100%;
    width: 100%;
    min-width: 100%;

    &.left-sidebar {

      .center {
        max-width: 1290px;
        margin: auto;
      }

      > .content {
        display: flex;
        min-height: 0;
        overflow-x: hidden;
        overflow-y: auto;

        .sidebar {

          &.locked-open {
            height: 100%;
            overflow: visible;
            background: none;
            box-shadow: none;
          }
        }
      }
    }
  }
}


